.container {
    width: 260px;
    margin: 50px auto;
    padding: 20px;

    background-image: linear-gradient(to left bottom, #304e72, #303e59, #2b3041, #22232b, #171717);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#display {
    width: 95%;
    height: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 12px 0;
    font-size: 24px;
    text-align: right;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons>div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;

}

.button {
    border: 0.5px solid #999;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #eaeaea;
    transition: 0.5s ease-in-out;
}